@font-face {
    font-family: "MywebFont1";
    src:
        /*url("fonts/droidnaskh-regular-webfont.svg") format("svg"),*/
        /*url("fonts/droidnaskh-regular-webfont.eot");!* IE 9*!*/
        /*url("fonts/droidnaskh-regular-webfont.eot") format("eot") ,  !*IE 6-7*!*/
            url("fonts/pf_isotext_pro_light-webfont.woff") format("opentype"), /* Other Browser  */
            url("fonts/pf_isotext_pro_light-webfont.ttf") format("truetype") ; /* Safari Android IOS */
    /*url("fonts/droidnaskh-regular-webfont.woff2") format("woff2"),*/
    /*url("fonts/droidnaskh-regular-webfont.woff") format("woff");*/
    font-weight: normal;
}
@font-face {
    font-family: "MywebFont";
    src: /*    url("fonts/droidnaskh-bold-webfont.svg") format("svg"),*/
        /*url("fonts/droidnaskh-bold-webfont.eot");!* IE 9*!*/
        /*url("fonts/droidnaskh-bold-webfont.eot") format("eot") ,  !*IE 6-7*!*/
            url("fonts/pf_isotext_pro_regular-webfont.woff") format("opentype"), /* Other Browser  */
            url("fonts/pf_isotext_pro_regular-webfont.ttf") format("truetype");  /* Safari Android IOS */
    /*url("fonts/droidnaskh-bold-webfont.woff2") format("woff2"),*/
    /*url("fonts/droidnaskh-bold-webfont.woff") format("woff");*/
    font-weight: bold;
}

html , body ,tr ,td, p , a , li , h1, h2, h3, h4, h5,  input
{
    font-size: 100%;
    font-family: "MywebFont" !important;
}
body {
font-family: "MywebFont" !important;

}
.container-fluid {

    padding-left: 0;
    padding-right: 0;

}
/* 5   1     1            =6**/
nav.navbar.navbar-default {
    color: #202121;
    background-color: #ffffff;
}

/**/
div#caresoul {
    height: 330px;
background: -webkit-gradient(linear, 80% 0%, 0% 34%, from(#99C7F7), to(#97C5F6), color-stop(.4,#BCDAF9));
}